#Home {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#Home > .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  #Home {
    height: unset;
  }
  #Home > .container {
    flex-direction: column;
    align-items: center;
    margin-top: 13vh;
  }

  .image {
    margin: 5vh 0vh;
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greet {
  font-size: 55px;
}

.myName {
  font-size: 70px;
}
.myName:hover {
  animation: textGlow 1s forwards;
}
@keyframes textGlow {
  0%, 20%, 30% {text-shadow: none;}
  5%, 25%, 100% {text-shadow:  0 0 10px var(--glow-color);}

}

.whoAmI {
  font-size: 35px;
  display: flex;
  column-gap: 8px;
}
@media (max-width: 770px) {
  .whoAmI { flex-direction: column; }
}

@media (max-width: 560px) {
  .greet { font-size: 6.5vw; }

  .myName { font-size: 9.7vw;}

  .whoAmI {font-size: 5vw;}
}

.image {
  animation: upDown 3s infinite ease-out;
}

@keyframes upDown {
  from {transform: translateY(20px);}
  to {transform: translateY(20px);}

  50% {transform: translateY(0px);}
}

.image > img {
  background-color: black;
  background-position: center;
  background-size: cover;
  width: calc(1920px / 6);
  height: calc(3416px / 6);
  border-radius: 1rem;
  box-shadow: 10px 10px 30px rgb(0,0,0);
}

.typingText {
  color: var(--header-bg);
  font-weight: 900;
  font-size: 17px;
}

.mediaLinks {
  margin-top: 1vh;
  padding: 5px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.mediaLink {
  color: var(--glow-color);
  border: 1px solid var(--glow-color);
  border-radius: 50%;
  padding: 10px;
  transition: background-color,color,box-shadow 0.2s ease;
}

.mediaLink:hover {
  background-color: var(--glow-color);
  color: var(--bg);
  box-shadow: 0 0 9px var(--glow-color);
}

@media (max-width: 1200px) {
  .mediaLinks {
    width: 100%;
    justify-content: space-around;
  }
}

.resume {
  margin-top: 4vh;
  background-color: var(--glow-color);
  width: 15vh;
  text-align: center;
  padding: 10px;
  border-radius: 5rem;
  color: black;
  transition: box-shadow 0.2s ease;

  position: relative;
}

.resume::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background-color: var(--glow-color);

  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(3em) rotateX(40deg) scale(1, 0.3);
  filter: blur(1em);
  opacity: 0.7;
}

.resume:hover {
  background-color: var(--bg);
  color: var(--glow-color);
  box-shadow: 0 0 9px var(--glow-color);
}
