#Home {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#Home > .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  #Home {
    height: unset;
  }
  #Home > .container {
    flex-direction: column;
    align-items: center;
    margin-top: 13vh;
  }

  .image {
    margin: 5vh 0vh;
  }
}

.text {
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: grey; */
  /* min-width: 600px; */
  /* min-width: 20vw; */
}

.greet {
  font-size: 55px;
}

.myName {
  font-size: 70px;
}

.whoAmI {
  font-size: 35px;
  display: flex;
  column-gap: 8px;
}
@media (max-width: 770px) {
  .whoAmI { flex-direction: column; }
}

@media (max-width: 560px) {
  .greet { font-size: 6.5vw; }

  .myName { font-size: 9.7vw;}

  .whoAmI {font-size: 5vw;}

  .typingText::before {font-size: 5.5vw;}
  
  
}

.image {
  background: url('./hanuman.jpg');
  background-position: center;
  background-size: cover;
  width: calc(1920px / 6);
  height: calc(3416px / 6);
}

.typingText {
  position: relative;
  color: var(--header-bg);
  font-weight: 900;
  width: max-content;
}

.typingText::before {
  content: "|";
  color: var(--glow-color);
  right: 0;
  position: absolute;
  background-color: var(--bg);
  animation: typing 1s alternate infinite ease-in-out;
}

@keyframes typing {
  from {
    width: 100%; /* The width of the text starts at 0 */
  }
  to {
    width: 0; /* The width of the text ends at 100% (fully visible) */
  }
}

.mediaLinks {
  margin-top: 1vh;
  padding: 5px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.mediaLink {
  color: var(--glow-color);
  border: 1px solid var(--glow-color);
  border-radius: 50%;
  padding: 10px;
  transition: background-color,color,box-shadow 0.2s ease;
}

.mediaLink:hover {
  background-color: var(--glow-color);
  color: var(--bg);
  box-shadow: 0 0 9px var(--glow-color);
}

@media (max-width: 1200px) {
  .mediaLinks {
    width: 100%;
    justify-content: space-around;
  }
}

.resume {
  margin-top: 4vh;
  background-color: var(--glow-color);
  width: 15vh;
  text-align: center;
  padding: 10px;
  border-radius: 5rem;
  color: black;
  transition: box-shadow 0.2s ease;
}

.resume:hover {
  box-shadow: 0 0 9px var(--glow-color);
}
