.header {
  display: flex;
  align-items: center;
  background-color: var(--header-bg);
  color: whitesmoke;
  border-bottom: whitesmoke;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 7rem;
}

.header ul {
  list-style: none;
  display: flex;
}

#portfolio {
  font-size: 40px;
  padding: 20px;
  margin-left: 10%;
  flex-grow: 1;
}

.navLinks {
  position: relative; /* parent element for the pseudo-element */
  text-decoration: none; /* remove default underline */
  color: white; /* set link color */
  margin: 0 40px;
}

.navLinks::before {
  content: ""; /* empty content for the pseudo-element */
  position: absolute;
  width: 100%;
  height: 2px; /* set height and color of the underline */
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in; /* set transition for the underline */
}

.navLinks:hover::before {
  visibility: visible;
  transform: scaleX(1); /* animate the underline on hover */
}

.hamBurgDrawer {
  display: none;
}

@media (max-width: 1000px) {

  .header ul {
    display: none;
  }

  .hamBurgDrawer {
    display: block;
    margin: 2vh;
  }
  
}
