.App {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  height: 400vh;
  width: 100%;
  font-family: 'Poppins', SourceCodePro;
  overflow: hidden;
}

a {
  text-decoration: none;
}
